<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon class="primaryIcon">menu</mat-icon>
    </button>
    <span class="toolbarTitle">ElderByte AG</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon class="primaryIcon">favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon class="primaryIcon">share</mat-icon>
    </button>
</mat-toolbar>