@use '@angular/material' as mat;
@use '../../../../../m3-theme.scss' as elderPalette;

.example-spacer {
    flex: 1 1 auto;
}

/*
.toolbarTitle {
    color: var(--mdc-filled-button-container-color);
    margin-left: 10px;
}

.primaryIcon {
    @include mat.icon-color(elderPalette.$light-theme, $color-variant: primary);
}

.button-text {
    color: var(--mdc-filled-button-container-color) !important;
}

mat-toolbar {
    --mat-toolbar-container-background-color: #{mat.get-theme-color(elderPalette.$light-theme, primary, 90)} !important;
}
    */