.example-spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    --mat-toolbar-container-background-color: var(--sys-primary);
    --mat-toolbar-container-text-color: var(--sys-on-primary);
    --mat-icon-color: var(--sys-on-primary);
    padding-left: 0px;
}

.menu-button-container {
    background-color: var(--sys-tertiary-container);
    height: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
}
