.dark {
  --md-sys-color-primary: rgb(170 200 251);
  --md-sys-color-surface-tint: rgb(170 200 251);
  --md-sys-color-on-primary: rgb(13 49 91);
  --md-sys-color-primary-container: rgb(0 32 67);
  --md-sys-color-on-primary-container: rgb(143 172 221);
  --md-sys-color-secondary: rgb(188 199 221);
  --md-sys-color-on-secondary: rgb(38 49 66);
  --md-sys-color-secondary-container: rgb(53 63 81);
  --md-sys-color-on-secondary-container: rgb(201 212 234);
  --md-sys-color-tertiary: rgb(225 195 129);
  --md-sys-color-on-tertiary: rgb(63 46 0);
  --md-sys-color-tertiary-container: rgb(179 152 90);
  --md-sys-color-on-tertiary-container: rgb(17 10 0);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(18 19 22);
  --md-sys-color-on-background: rgb(227 226 230);
  --md-sys-color-surface: rgb(18 19 22);
  --md-sys-color-on-surface: rgb(227 226 230);
  --md-sys-color-surface-variant: rgb(67 71 79);
  --md-sys-color-on-surface-variant: rgb(196 198 208);
  --md-sys-color-outline: rgb(141 145 153);
  --md-sys-color-outline-variant: rgb(67 71 79);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(227 226 230);
  --md-sys-color-inverse-on-surface: rgb(47 48 52);
  --md-sys-color-inverse-primary: rgb(66 95 140);
  --md-sys-color-primary-fixed: rgb(213 227 255);
  --md-sys-color-on-primary-fixed: rgb(0 27 60);
  --md-sys-color-primary-fixed-dim: rgb(170 200 251);
  --md-sys-color-on-primary-fixed-variant: rgb(40 71 115);
  --md-sys-color-secondary-fixed: rgb(216 227 250);
  --md-sys-color-on-secondary-fixed: rgb(17 28 44);
  --md-sys-color-secondary-fixed-dim: rgb(188 199 221);
  --md-sys-color-on-secondary-fixed-variant: rgb(61 71 89);
  --md-sys-color-tertiary-fixed: rgb(255 223 155);
  --md-sys-color-on-tertiary-fixed: rgb(37 26 0);
  --md-sys-color-tertiary-fixed-dim: rgb(225 195 129);
  --md-sys-color-on-tertiary-fixed-variant: rgb(88 68 14);
  --md-sys-color-surface-dim: rgb(18 19 22);
  --md-sys-color-surface-bright: rgb(56 57 60);
  --md-sys-color-surface-container-lowest: rgb(13 14 17);
  --md-sys-color-surface-container-low: rgb(26 28 31);
  --md-sys-color-surface-container: rgb(30 32 35);
  --md-sys-color-surface-container-high: rgb(41 42 45);
  --md-sys-color-surface-container-highest: rgb(52 53 56);
}
