.light-medium-contrast {
  --md-sys-color-primary: rgb(0 23 51);
  --md-sys-color-surface-tint: rgb(66 95 140);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(21 54 97);
  --md-sys-color-on-primary-container: rgb(243 245 255);
  --md-sys-color-secondary: rgb(57 67 85);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(106 117 137);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(84 64 10);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(138 113 56);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(140 0 9);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(218 52 46);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(250 249 253);
  --md-sys-color-on-background: rgb(26 28 31);
  --md-sys-color-surface: rgb(250 249 253);
  --md-sys-color-on-surface: rgb(26 28 31);
  --md-sys-color-surface-variant: rgb(224 226 236);
  --md-sys-color-on-surface-variant: rgb(63 67 75);
  --md-sys-color-outline: rgb(92 95 103);
  --md-sys-color-outline-variant: rgb(119 123 131);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(47 48 52);
  --md-sys-color-inverse-on-surface: rgb(241 240 244);
  --md-sys-color-inverse-primary: rgb(170 200 251);
  --md-sys-color-primary-fixed: rgb(88 117 164);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(63 93 137);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(106 117 137);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(82 92 111);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(138 113 56);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(111 89 34);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(218 217 222);
  --md-sys-color-surface-bright: rgb(250 249 253);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(244 243 247);
  --md-sys-color-surface-container: rgb(238 237 241);
  --md-sys-color-surface-container-high: rgb(232 231 236);
  --md-sys-color-surface-container-highest: rgb(227 226 230);
}
